<div>
  <%= "Generated Insights" %>
  <br>
  <br>
  <%="Max Value : #{@domain_data['max_value']}"%>
  <br>
  <br>
  <%="Min Value : #{@domain_data['min_value']}"%>
  <br>
  <br>
  <%="Median Value : #{@domain_data['median_value']}" %>
  <br>
  <br>
  <%="Time series plot:" %>
  <br>
  <%= line_chart @domain_data['time_series_data'], xtitle: "Date", ytitle: "Domain Rating"%>
</div>

<div>
  <%="Share results over email"%>
  <br>
  <br>
  <%= form_with url: generate_insights_mail_insights_domain_data_path(:mail_data => @domain_data), method: :post do |form| %>
    <%= form.label :email, "Receiver Email:" %>
    <%= form.text_field :email %>
    <%= form.submit "Send" %>
  <% end %>
</div>